<!DOCTYPE html>
<html lang="pt-br" ng-app="movies">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/angular-material.min.css">
    <link rel="stylesheet" href="styles/app.css">

    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-animate.min.js"></script>
    <script src="libs/angular-aria.min.js"></script>
    <script src="libs/angular-messages.min.js"></script>
    <script src="libs/angular-material.min.js"></script>
    <script src="libs/angular-ui-router.js"></script>

    <script src="components/module/app.js"></script>
    <script src="components/services/http.service.js"></script>
    <script src="components/controllers/movie.controller.js"></script>
    <script src="components/controllers/detailmovie.controller.js"></script>
    <script src="components/controllers/detailsection.controller.js"></script>

</head>
<body ng-controller="MovieController as movieCtrl">

<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2 ui-sref="default">Filmes e Séries!</h2>
    </div>
</md-toolbar>

<div layout="row" layout-fill>
    <section layout="column" layout-padding flex="25">
        <div class="gray page-container">
            <md-list>
                <md-subheader>Categorias</md-subheader>
                <md-divider></md-divider>

                <ul ng-repeat="category in categories">
                    <p ng-click="movieCtrl.showDetailSection(category)"> {{ category.name }} </p>

                    <md-list-item ng-repeat="movie in category.items" ng-click="movieCtrl.showDetail(movie)">
                        <img ng-src="{{movie.image}}" class="md-avatar" alt="{{movie.name}}" />
                        <small>{{ movie.name }}</small>
                    </md-list-item>
                </ul>
            </md-list>
        </div>
    </section>

    <section layout="column" flex layout-padding>
        <div class="gray page-container">
            <ui-view></ui-view>
        </div>
    </section>
</div>

</body>
</html>